/node_modules
/coverage
/.next
/out
yarn-error.log
.vscodecounter
.vscode
tsconfig.tsbuildinfo



# Terraform artefacts
.terraform/
terraform.tfstate*
infrastructure/**/*.zip

# ignore auto tfvars
*.auto.tfvars


# Local Netlify folder
.netlify

# Sentry Auth Token
.sentryclirc
