/node_modules
/coverage
/.next
/out
yarn-error.log
.vscodecounter


# Terraform artefacts
.terraform/
terraform.tfstate*
infrastructure/**/*.zip

# ignore auto tfvars
*.auto.tfvars

tsconfig.tsbuildinfo
